venv/
assets/input_videos/*
assets/keyframes/*
assets/output/*
assets/transcripts/*
assets/timestamps.txt
modules/__pycache__/
modules/*.pyc
*.pt
*.pth
*.onnx
*.mlmodel
*.torchscript
*.weights
*.log
*.sqlite
logs/
*.db
.temp/
tmp/    
temp/
*.tmp
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.m4v
*.mpg
*.mpeg
*.wav
*.mp3
utils/
venv/
temp_audio.wav
video_summary.mp4
yolov8n.pt